// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.canvasDiv{
	position: absolute;
	top: 50px;
	left: 50px;
}